In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [30]:
dataset = pd.read_csv("Churn_Modelling.csv")
dataset = dataset.drop(["RowNumber","CustomerId","Surname"], 1)
dataset[:10]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [31]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [32]:
labelEncoderX = LabelEncoder()
X[:,1] = labelEncoderX.fit_transform(X[:,1])
X[:,2] = labelEncoderX.fit_transform(X[:,2])

In [33]:
onehotEncoder = OneHotEncoder(categorical_features = [0])
X = onehotEncoder.fit_transform(X).toarray()

In [34]:
print(X)

[[0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 1.1254258e+05]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1393157e+05]
 ...
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 9.2888520e+04]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 3.8190780e+04]]

In [35]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [43]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [44]:
print(X_train)

[[-0.02500782 -0.01118104 -0.01118104 ...  0.64259497 -1.03227043
   1.10643166]
 [-0.02500782 -0.01118104 -0.01118104 ...  0.64259497  0.9687384
  -0.74866447]
 [-0.02500782 -0.01118104 -0.01118104 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [-0.02500782 -0.01118104 -0.01118104 ...  0.64259497 -1.03227043
   1.41231994]
 [-0.02500782 -0.01118104 -0.01118104 ...  0.64259497  0.9687384
   0.84432121]
 [-0.02500782 -0.01118104 -0.01118104 ...  0.64259497 -1.03227043
   0.32472465]]

In [45]:
print(X_test)

[[ 1.          1.         -1.         ...  0.66011376  0.97628121
   1.62185911]
 [ 1.          1.         -1.         ...  0.66011376 -1.02429504
   0.504204  ]
 [ 1.          1.         -1.         ...  0.66011376  0.97628121
  -0.41865644]
 ...
 [ 1.          1.         -1.         ...  0.66011376 -1.02429504
   0.72775202]
 [ 1.          1.         -1.         ...  0.66011376  0.97628121
  -1.54162886]
 [ 1.          1.         -1.         ...  0.66011376 -1.02429504
   1.62356528]]