In [18]:
import pandas as pd
import sys

In [19]:
# Our small data set
d = [0,1,2,3,4,5,6,7,8,9]
# Create dataframe
df = pd.DataFrame(d)

In [20]:
df.columns = ["Rev"]
df.head()

   Rev
0    0
1    1
2    2
3    3
4    4

In [21]:
df['NewCol'] = 5
df.head()

   Rev  NewCol
0    0       5
1    1       5
2    2       5
3    3       5
4    4       5

In [22]:
# Lets modify our new column
df['NewCol'] = df["NewCol"]+1
# We can delete columns
del df['NewCol']
df.head()

   Rev
0    0
1    1
2    2
3    3
4    4

In [24]:
# Lets add a couple of columns
df['test'] = 3
df['col'] = df['Rev']
df.head()

   Rev  test  col
0    0     3    0
1    1     3    1
2    2     3    2
3    3     3    3
4    4     3    4

In [25]:
# If we wanted, we could change the name of the index
i = ['a','b','c','d','e','f','g','h','i','j']
df.index = i
df.head()

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3
e    4     3    4

In [27]:
df.loc['a']

Rev     0
test    3
col     0
Name: a, dtype: int64

In [28]:
# df.loc[inclusive:inclusive]
df.loc['a':'d']

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3

In [34]:
# df.iloc[inclusive:exclusive]
# Note: .iloc is strictly integer position based. It is available from [version 0.11.0] 
df.iloc[0:3]

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2

In [38]:
# df.ix[rows,columns]
# replaces the deprecated ix function
#df.ix[0:3,'Rev']
df.loc[df.index[:3],['Rev','col']]

   Rev  col
a    0    0
b    1    1
c    2    2

In [39]:
# Select top N number of records (default = 5)
df.head(3)

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2

In [40]:
# Select bottom N number of records (default = 5)
df.tail(3)

   Rev  test  col
h    7     3    7
i    8     3    8
j    9     3    9